<!-- The content below is only a placeholder and can be replaced. 
<div style="text-align:left; height: 20cm; width: 100%; background-color: wheat">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>in app module</p>
   <div style="height: 20cm; width: 50%;float:left; background-color: blanchedalmond" >
    <app-car-form></app-car-form>
  </div>
   <div style="height: 20cm; width: 50%;float:right;background-color: blanchedalmond">
    <app-car-table></app-car-table>
 </div>
  <app-cycle-form></app-cycle-form></div>-->
   <!-- <app-demo [name]=namee></app-demo>  -->
  <!-- <app-demo2></app-demo2> -->
  <app-car-form></app-car-form>


  