
  <h1>VEHICLE INFO.</h1>
  
  <form>
  <h4>CAR FORM </h4>
      Model: <input type="text" id="model"/><br>
      No. of Wheels:<input type="text" id="wheel"/><br>
      No. of Seats:<input type="text" id="seat"/><br>
      Type: <select name="type" id="type" value="" onchange=""><br>
          <option value="SUV">SUV</option>
          <option value="MPV">MPV</option>
          <option value="HATCHBACK">HATCHBACK</option>
          <option value="SEDAN">SEDAN</option>
          
      </select>
      <br>
    brand Name: <select name="brand" value=" " id="brand"><br>
          <option value="MARUTISUZUKI">MARUTISUZUKI</option>
          <option value="HYUNDAI">HYUNDAI</option>
          <option value="BMW">BMW</option>
          <option value="AUDI">AUDI</option>
          <option value="FERARI">FERARI</option>
          <option value="MERCEDES">MERCEDES</option>
      </select>
      <br>
      Engine Type: <input type="text" value="" id="engine"><br>
      Date of Purchase: <input type="date" value="" id="date"><br>

      <input type="button" value="SUBMIT" >
      <input type="reset" value="RESET">


  </form>
<!--

  <table align="left" id="myTable"> 
          <tr>
                  <th>Sr.no.</th>
                  <th>Model</th>
                  <th>Wheels</th>
                  <th>Seats</th>
                  <th>Type</th>
                  <thbrand Name</th>
                  <th>Engine Type</th>
                  <th>Date of Purchase</th>
                  <th>Price</th>
          </tr>
  </table>
   -->